
/* ------- VARIABLES ------- */

:root {
    --menu-bg-color: #181A12;
}

:focus {
    outline-style: none;
}


/*  jQuery UI override  */

.ui-widget.ui-widget-content {
    border: inherit;
    color: inherit;
}


.ui-menu .ui-menu-item-wrapper {
    padding: 0.25em 0.5em;
}

.ui-menu-item-wrapper.ui-state-active {
    border: 0.1em solid var(--menu-bg-color);
    background: none;
    color: #FF6533;
}

.ui-menu .ui-state-focus, .ui-menu .ui-state-active {
    margin: initial;
}

/* ------- MENU ------- */

.menu {
    background: var(--menu-bg-color);
}

.menu ul {
    margin: 0;
    list-style: none;
}

.menu ul li {
    margin: 0;
    padding: 0;
}

.menu  li {
    color: orange;
    min-width: 5em;
    text-align: center;
}

.menu a {
    height: 1%;
    font-size: 1.2em;
    text-decoration: none;
    color: #FF6533;

    border: 0.1em solid var(--menu-bg-color);
}

.menu a:hover {
    border-color: darkgray;
    -webkit-border-radius: 0.75em 0.25em;
    -moz-border-radius: 0.75em 0.25em;
    border-radius: 0.75em 0.25em;

    outline: none;
}

.menu a.selected {
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;

    border-bottom-color: #808080;
    border-right-color: #808080;
    border-left-color: transparent;
    border-top-color: transparent;
}

.menu a:hover, .menu a.selected{
    background: #282828;
}

#menu a {
    font-size: 1.2em;
    line-height: 2.5;
}

#menu ul {
    padding: 0 10px;
}

#menu ul, #menu li {
    display: inline-block;
}

.menu.sMenu {
    border: 0.05em solid darkorange;
    border-radius: .5em;
}

.menu.sMenu a {
    box-shadow: rgba(0, 0, 0, 0.5) .25em .25em .5em;
}

#menu li ul:before {
    content: 'â';
    color: orange;
    display: inline-block;
    position: absolute;
    top: -0.75em;
    left: 47%;
}


/* ------- BANDEAU ------- */

#enReact {
    color: yellow;
    background: #F00;
    padding: 0.15em;
    padding-left: 6.5em;
    font-weight: bold;
}

/* ------- ERROR ------- */

#gestion {
    clear: both;
}

#gestion aside {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
    border: 0.1em solid darkgray;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    background-color: rgba(255,255,255,0.33);
}

#gestion aside:before {
    position: relative;
    top: -1em;
    color: yellow;
    background-color: darkgrey;
    padding: 0.2em 1em;
    border: 0.1em solid grey;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em rgba(128, 0, 0, 0.5);
}

#gestion aside#error:before {
    content: 'error';
    background-color: darkred;
    border-color: red;
}

#gestion aside#message:before {
    content: 'message';
    background-color: darkgreen;
    border-color: green;
}

#gestion aside#debug:before {
    content: 'debug';
    background-color: firebrick;
    border-color: orange;
}

#gestion aside#jsonError:before {
    content: 'jsonError';
    background-color: rebeccapurple;
    border-color: purple;
}

#gestion aside#kint:before {
    content: 'kint';
    background-color: darkblue;
    border-color: blue;
}

/* ------- TABLES ------- */

.myTab {
    border-collapse: collapse;
    color: black;
}

.myTab thead tr{
    color: white;
    background-color: darkgreen;
}

.myTab td, th{
    border: 1px solid darkgray;
    padding: 0.33em;
}

.myTab tbody tr:nth-child(odd) {
    background-color: lightgray;
}

.myTab tbody tr:nth-child(even) {
    background-color: lightgreen;
}

.myTab tbody tr:hover {
    background-color: lightgoldenrodyellow;
}

.myTab th, tr > td:first-of-type{
    font-size: 0.8em;
    font-style: italic;
}


/* ------ LOGOUT DIALOG ------- */

.dialOk {
    background: #eaffeb;
    font-size: 1em;
    -webkit-box-shadow: 0 0 0.5em 0.15em rgba(255,255,255,0.5);
    -moz-box-shadow: 0 0 0.5em 0.15em rgba(255,255,255,0.5);
    box-shadow: 0 0 0.5em 0.15em rgba(255,255,255,0.5);
}

.dialOk .ui-dialog-titlebar {
    background: lawngreen;
}

/* ------ GESTION DROIT DIALOG ------- */

.dialKo {
    background: #FFEEEE;
    font-size: 1em;
    -webkit-box-shadow: 0 0 0.5em 0.15em rgba(255,255,255,0.5);
    -moz-box-shadow: 0 0 0.5em 0.15em rgba(255,255,255,0.5);
    box-shadow: 0 0 0.5em 0.15em rgba(255,255,255,0.5);
}

.dialKo .ui-dialog-titlebar {
    background: #FC1D1C;
    color: yellow;
}

/* ------- FOOTER ------- */

#credits {
    display: block;
}