/* Menus - commun */
.menu {
    background: #181A12;
}
.menu a {
    color: #FF6533;
    text-decoration: none;
    line-height: 1.5;
    font-size: .9em;
    border: 0.1em solid #181A12;
    padding: 0.25em 0.5em;
}

.menu a:hover, .menu a:focus {
    background: darkgrey;
}
.menu ul {
    margin: 0;
    list-style: none;
}

/* Menu vertical - #sous-menu */
#sous-menu {
    width: 18%;
    float: left;
}
#sous-menu a {
    display: block;
    height: 2%;
}
#sous-menu ul {
    padding: 20px 10px;
}

/* Menu horizontal - #menu */
#menu a {
    height:2.5%;
    display: inline;
}
#menu ul {
    padding: 10px;
}
#menu ul li {
    display: inline;
}

/* FOOTER */
#credits {
    display: block;
}