/* FROM MODELE04 */
/* Navigation */
#sous-menu {
    background: #181A12;
}
#sous-menu a {
    color: #FF6533;
}
#sous-menu a:hover, #sous-menu a:focus {
    background: #000000;
}
/* Menu de navigation */
#sous-menu {
    width: 15%;
    float: left; /* -> 2 */
    margin-top: 1em;
}
#sous-menu ul {
    margin: 0;
    padding: 20px 10px;
    list-style: none;
}
#sous-menu a {
    display: block;
    height: 2%; /* -> 3 */
    padding: 0.5em;
    line-height: 1.5;
    font-size: .9em;
    text-decoration: none;
}

/* tmp */
#contenu {
/*    border : 1px double darkmagenta; */
    margin-top: 2.1em;
}
#navigation {
    float: left;
}

#entete {
    /*border : 1px solid chartreuse;*/
}

#logo {

}
/* Menus */
.menu {
    background: #181A12;
}
.menu a {
    color: #FF6533;
}
.menu a:hover, .menu a:focus {
    background: #000000;
}

/* Menu horizontal */
#menu {
    width: 90%;
    float: left; /* -> 2 */
    margin-bottom: 10px;
    /* border : 1px solid deepskyblue;*/

}

#menu ul {
    margin: 0;
    padding: 0 10px;
    list-style: none;
    float: left;
}

#menu li {
    float: left;
    padding: 0;
}
#menu a {
    display: block;
    height: 2.5%; /* -> 3 */
    padding: 0.5em;
    line-height: 1.5;
    font-size: .9em;
    text-decoration: none;
}
